.InfoLine{
    position: relative;
    width:100%;
    height: 80px;
    border-bottom: 1px solid #fff;
    background-color: #17161aea;
    color: #fff;
    cursor: pointer;
    display: grid;
    grid-template: 100% / 7% 20% 13% 13% 16% 14% 17%;
    align-items: center;
    justify-items: center;
}
.InfoLine:hover{
    background-color: #232325c7;
}
.InfoLine:hover .info__supply .supply{
    display: none;
}
.InfoLine:hover .info__supply .supply__hover{
    display:block;
}
.info__name{
    width: 100%;
    justify-items: flex-start;
    display: inline-flex;
    align-items: center;
}

.info__price span{
    display: none;
}
.InfoLine:active .info__price p {
    display: none;
}
.InfoLine:active{
    cursor: progress;
}
.InfoLine:active .info__price span{
    display: block;
}
.info__name span{
    margin-left: 10px;
    text-transform: uppercase;
    background: rgba(80, 80, 80, 0.5);
}
.info__logo{
    width: 22px;
    margin-right: 10px;
}
.info__supply{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.supply__hover{
    display: none;
    line-height: 1.2em;
    font-size: .8em;    
}
.info__supply .ticket{
    text-transform: uppercase;
    font-size: .7em;
    margin-left: 10px;
    background: rgba(80, 80, 80, 0.5);
    height: 25px;
}
.green{
    color: green;
}
.red{
    color: red;
}